{% import "utils.html" as utils with context %}

<!DOCTYPE html>

<html>

<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style> html { font-size: 62.5%; } </style>

	{{ utils.fonts }}
	{{ utils.bootstrap_css }}
	{{ utils.default_style }}

	{% block head %} {% endblock %}
	
</head>

<body>
	<div class="main-container container p-0">
		{% block content %} {% endblock %}
	</div>
	{{ utils.bootstrap_js }}
	{% block script %} {% endblock %}
</body>

</html>