{# ======================================== #}
{# MACROS #}
{# ======================================== #}


{% macro css_link(filename) %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/website/' + filename) }}">
{% endmacro %}


{% macro less_link(filename) %}
	<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='less/website/' + filename) }}">
{% endmacro %}


{% macro dev_config(less_file, css_file) %}
	{% if TESTING %}
		{{ less_link(less_file) }}
	{% else %}
		{{ css_link(css_file) }}
	{% endif %}
{% endmacro %}



{# ======================================== #}
{# SETS #}
{# ======================================== #}

{% set fonts %}
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
{% endset %}

{% set less_js %}
	<script>less = { env: 'development' };</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.8.1/less.min.js" type="text/javascript"></script>
	<script>less.watch();</script>
{% endset %}

{% set default_style %}
	{% if TESTING %}
		{{ less_link('style.less') }}
		{{ less_js }}
	{% else %}
		{{ css_link('style.css') }}
	{% endif %}
{% endset %}


{% set bootstrap_css %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endset %}


{% set bootstrap_js %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/website/script.js') }}"></script>
{% endset %}