{% extends "layout.html" %}

{% block head %}
	{{ utils.dev_config('header.less', 'header.css') }}
	{% block bs_head %} {% endblock %}
{% endblock %}

{% block content %}
	
	<div class="header container">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

			<a class="navbar-brand" href="/">Bridge English Solutions</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<div class="navbar-nav">
					<a class="nav-item nav-link trans-color active" href="/">INICIO<span class="sr-only">(current)</span></a>
					<a class="nav-item nav-link trans-color" href="/testing">NIVELACION</a>
					<a class="nav-item nav-link trans-color" href="/certification">CERTIFICACION</a>
					<a class="nav-item nav-link trans-color" href="/contact">CONTACTO</a>
					<a class="nav-item nav-link trans-color" href="/dyned">DYNED</a>
				</div>
			</div>

		</nav>

		{% block header_content %} {% endblock %}

	</div>

	{% block bs_content %} {% endblock %}

{% endblock %}