{% extends "bs-header.html" %}

{% block bs_head %}
	<title>Bridge Solutions</title>
{% endblock %}

{% block header_content %}
	<div class="header-content">
		<img class="logo-img" src="https://i.imgur.com/S5L2w7x.jpg">
		<div class="message-container">
			<div class="message">
				En nuestro mundo globalizado, existe<br>
				una creciente demanda personal<br>
				bilingüe en todos los rubros!<br>
				<br>
				<b>Do YOU speak English?</b>
			</div>
		</div>
	</div>

	<button class="subscribe-button btn btn-teal font-weight-bold">Inscribase Ya!</button>
	<hr class="sm-hidden">
	<div class="icon-container"></div>
{% endblock %}

{% block bs_content %}

	<div class="container body">
		<div class="information-panel">
			<div class="info-box">
				<img src="{{ url_for('static', filename='img/guarantee-certificate.svg') }}" alt="Imagen no Disponible">
				<h3>Certificados</h3>
				<p class="sm-hidden">Certificacion internacional avalada por el CEFR</p>
				<a class="btn btn-lime">Leer Mas</a>
			</div>
			<div class="info-box">
				<img src="{{ url_for('static', filename='img/aptitude.svg') }}" alt="Imagen no Disponible">
				<h3>Nivelacion</h3>
				<p class="sm-hidden">No sabe donde empezar? No se preocupe! Tome nuestro test de nivelacion y empiece su aprendizaje!</p>
				<a class="btn btn-lime">Leer Mas</a>
			</div>
			<div class="info-box">
				<img src="{{ url_for('static', filename='img/clock.svg') }}" alt="Imagen no Disponible">
				<h3>Horarios</h3>
				<p class="sm-hidden">Aprenda desde la comodidad de su casa con horarios flexibles</p>
				<a class="btn btn-lime">Leer Mas</a>
			</div>
			<div class="info-box">
				<img src="{{ url_for('static', filename='img/support.svg') }}" alt="Imagen no Disponible">
				<h3>Tutores</h3>
				<p class="sm-hidden">Aprenda ingles con tutores 100% bilingües</p>
				<a class="btn btn-lime">Leer Mas</a>
			</div>
			<div class="info-box">
				<img src="{{ url_for('static', filename='img/hand.svg') }}" alt="Imagen no Disponible">
				<h3>Expanda Sus Oportunidades</h3>
				<p class="sm-hidden">Aprenda el idioma internacional de negocios y expanda su curriculum</p>
				<a class="btn btn-lime">Leer Mas</a>
			</div>
			<div class="info-box">
				<img src="{{ url_for('static', filename='img/dyned.png') }}" alt="Imagen no Disponible">
				<h3>DynEd</h3>
				<p class="sm-hidden">En alianza con el renombrado software educativo DynEd</p>
				<a class="btn btn-lime">Leer Mas</a>
			</div>
		</div>

		<hr>

		<div class="subscription-panel">
			<h2>Suscribase a Beam-Bridge Lessons</h2>
			<p>Esta suscripción le proveera cortas lecciones para empezar su aprendizaje de ingles!</p>

			<form action="" class="beam-bridge-form">
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">Nombre</div>
					</div>
					<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="John Doe">
				</div>
				<div class="input-group mb-2">
					<div class="input-group-prepend">
						<div class="input-group-text">Email</div>
					</div>
					<input type="text" class="form-control" id="inlineFormInputGroup" placeholder="john.doe@example.com">
				</div>
				<button type="submit" class="btn btn-primary">Inscribirse</button>
			</form>
		</div>

		<hr>

	</div>

	<div class="container footer">
		<div class="row">
			<div class="col-sm-12 col-lg-4">
				<h2>Bridge English Solutions</h2>
				<ul class="link-list">
					<li><a href="#">Nivelacion</a></li>
					<li><a href="#">Certificacion</a></li>
				</ul>
			</div>
			<div class="col-sm-12 col-lg-4">
				<h2>Contacto</h2>
				<ul class="link-list">
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Youtube</a></li>
					<li>Email:</li>
					<li>bridge.english.honduras@gmail.com</li>
				</ul>
			</div>
			<div class="col-sm-12 col-lg-4">
				<h2>DynEd</h2>
				<ul class="link-list">
					<li><a href="#">Nivelacion</a></li>
					<li><a href="#">Certificacion</a></li>
				</ul>
			</div>
		</div>
	</div>

	<footer>

		<div class="credits">
			<p>
				Icon made by 
				<a href="https://www.flaticon.com/authors/freepik">Freepik</a> 
				from 
				<a href="http://www.flaticon.com">www.flaticon.com</a>
			</p>
		</div>

	</footer>

{% endblock %}