body {
  padding-bottom: 200px;
}
* {
  font-family: 'Titillium Web', sans-serif;
}
.trans-color {
  transition: color 0.5s;
}
.btn-teal {
  color: #fff;
  background: rgba(201, 202, 230, 0.5);
  border: solid 1px #fff;
  transition: background 0.5s;
}
.btn-teal:hover {
  background: #c9cae6;
}
.btn-lime {
  color: black;
  background: #66ff66;
  -webkit-box-shadow: 2px 2px 10px transparent;
  -moz-box-shadow: 2px 2px 10px transparent;
  box-shadow: 2px 2px 10px transparent;
  transition: all 0.5s;
}
.btn-lime:hover {
  color: white;
  background: #00cc00;
  -webkit-box-shadow: 2px 2px 10px blue;
  -moz-box-shadow: 2px 2px 10px blue;
  box-shadow: 2px 2px 10px blue;
}
.main-container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-container .header {
  background: url('https://i.imgur.com/ltjScoO.png'), slateblue;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 40px;
}
.main-container .header .navbar {
  margin: 0 -15px;
  background: rgba(0, 0, 0, 0.5);
}
.main-container .header .navbar .navbar-brand {
  font-size: 2rem;
}
.main-container .header .navbar .navbar-collapse .navbar-nav .nav-item {
  font-size: 1.4rem;
}
.main-container .header .navbar .navbar-collapse .navbar-nav .nav-item:hover {
  text-decoration-line: underline;
}
.main-container .header .header-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto 0;
  padding: 5px;
  font-size: 1.6rem;
  color: #fff;
}
.main-container .header .header-content .logo-img {
  flex-grow: 1;
  max-width: 250px;
  max-height: 250px;
  margin: 0 auto;
  border-radius: 10px;
}
.main-container .header .header-content .message-container {
  flex-grow: 2;
  display: flex;
  margin-top: 20px;
}
.main-container .header .header-content .message-container .message {
  align-self: center;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.main-container .header .subscribe-button {
  display: block;
  width: 250px;
  margin: 10px auto 0;
  font-size: 1.6rem;
  border-radius: 5px;
}
.main-container .header .icon-container {
  background: #fff;
}
.main-container .body .information-panel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(215px, auto);
  grid-gap: 10px;
  justify-content: space-evenly;
  margin-top: 20px;
}
.main-container .body .information-panel .info-box {
  position: relative;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 5px;
  border: solid 2px #009900;
}
.main-container .body .information-panel .info-box img {
  height: 70px;
  margin: 20px 0;
}
.main-container .body .information-panel .info-box h3 {
  font-size: 1.6rem;
  font-weight: bold;
}
.main-container .body .information-panel .info-box p {
  max-width: 80%;
  margin: 0 auto;
}
.main-container .body .information-panel .info-box .btn {
  display: block;
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 20px;
  font-size: 1.6rem;
}
.main-container .body hr {
  margin-top: 30px;
  margin-bottom: 20px;
  border-bottom: solid #000 2px;
}
.main-container .body .subscription-panel {
  margin-top: 20px;
  text-align: center;
  font-size: 1.6rem;
}
.main-container .body .subscription-panel h2 {
  font-weight: bold;
}
.main-container .body .subscription-panel .beam-bridge-form {
  margin-top: 40px;
}
.main-container .body .subscription-panel .beam-bridge-form .input-group-text,
.main-container .body .subscription-panel .beam-bridge-form input {
  font-size: 1.6rem;
  height: 3rem;
}
.main-container .body .subscription-panel .beam-bridge-form .input-group {
  width: 90%;
  margin: 20px auto 0;
}
.main-container .body .subscription-panel .beam-bridge-form button {
  width: 200px;
  margin-top: 20px;
  font-size: inherit;
}
.main-container .footer {
  margin-top: 40px;
  text-align: center;
  font-size: 1.6rem;
}
.main-container .footer h2 {
  font-weight: bold;
}
.main-container .footer .link-list {
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
}
.sm-hidden {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .main-container .header .navbar .navbar-collapse {
    justify-content: flex-end;
  }
  .main-container .header .header-content {
    display: flex;
    flex-direction: initial;
    margin-top: 100px;
    padding: 20px;
    font-size: 2.4rem;
    border-top: solid #fff 2px;
    border-bottom: solid #fff 2px;
  }
  .main-container .header .header-content .logo-img {
    max-width: 300px;
    max-height: 300px;
  }
  .main-container .header .header-content .message-container .message {
    text-align: left;
  }
  .main-container .header .subscribe-button {
    margin-top: 40px;
    font-size: 2rem;
  }
  .main-container .header hr {
    width: 400px;
    margin: 40px auto 0;
    border-bottom: solid #fff 2px;
  }
  .main-container .header .icon-container {
    width: 400px;
    height: 100px;
    margin: 40px auto 0;
  }
  .main-container hr {
    margin-top: 60px;
  }
  .main-container .body .information-panel {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(350px, auto);
    margin-top: 40px;
  }
  .main-container .body .information-panel .info-box img {
    height: 100px;
    margin: 20px 0;
  }
  .main-container .body .information-panel .info-box p {
    max-width: 80%;
    margin: 0 auto;
  }
  .main-container .body .subscription-panel {
    margin-top: 40px;
  }
  .main-container .body .subscription-panel .beam-bridge-form .input-group {
    width: 50%;
  }
  .sm-hidden {
    display: block;
  }
}
