@media only screen and (min-width: 1200px) {

	.main-container {

		.header {

			.navbar {
				
				.navbar-collapse {
					justify-content: flex-end;
				}

			}

			.header-content {
				display: flex;
				flex-direction: initial;
				margin-top: 100px;
				padding: 20px;
				font-size: 2.4rem;
				border-top: @border-1;
				border-bottom: @border-1;

				.logo-img {
					max-width: 300px;
					max-height: 300px;
				}

				.message-container {

					.message {
						text-align: left;
					}

				}

			}

			.subscribe-button {
				margin-top: 40px;
				font-size: 2rem;
			}

			hr {
				width: 400px;
				margin: 40px auto 0;
				border-bottom: @border-1;
			}

			.icon-container {
				width: 400px;
				height: 100px;
				margin: 40px auto 0;
			}

		}

		hr {
			margin-top: 60px;
		}

		.body {

			.information-panel {
				grid-template-columns: repeat(3, 1fr);
				grid-auto-rows: minmax(350px, auto);

				margin-top: 40px;

				.info-box {
					
					img {
						height: 100px;
						margin: 20px 0;
					}

					p {
						max-width: 80%;
						margin: 0 auto;
					}

				}
			}

			.subscription-panel {
				margin-top: 40px;

				.beam-bridge-form {

					.input-group {
						width: 50%;
					}

				}

			}

		}

	}

	.sm-hidden {
		display: block;
	}

}