.box-glow(@color) when not (@color = none) {
	-webkit-box-shadow: 2px 2px 10px @color;
	-moz-box-shadow: 2px 2px 10px @color;
	box-shadow: 2px 2px 10px @color;
}

// all of the params are colors
.btn-hover(@font-out, @font-in, @bg-out, @bg-in, @box-shadow-out: none, @box-shadow-in: none) {

	color: @font-out;
	background: @bg-out;
	.box-glow(@box-shadow-out);
	transition: all 0.5s;
	
	&:hover {
		color: @font-in;
		background: @bg-in;
		.box-glow(@box-shadow-in);
	}

}