@import 'mixins.less';

@border-1: solid #fff 2px;
@border-2: solid #000 2px;

body {
	padding-bottom: 200px;
}

* {
	font-family: 'Titillium Web', sans-serif;
}

// HELPER CLASSES
.trans-color {
	transition: color 0.5s;
}

// CUSTOM STYLE CLASSES
@aqua-light: #00c9c9;
.btn-teal {
	.btn-hover(#fff, #fff, darken(@aqua-light, 10%), @aqua-light);
	border: solid 1px #fff;
}

@color-lime: #66ff66;
.btn-lime {
	.btn-hover(#000, #fff, @color-lime, darken(@color-lime, 40%));
}