@import 'special.less';
@import 'mixins.less';

.main-container {
	max-width: 1200px;
	margin: 0 auto;

	.header {

		.navbar {
			margin: 0 -15px;
			background: rgba(0,0,0,0.5);

			.navbar-brand {
				font-size: 2rem;
			}

			.navbar-collapse {

				.navbar-nav {

					.nav-item {
						font-size: 1.4rem;

						&:hover {
							text-decoration-line: underline;
						}
						
					}

				}

			}

		}

		.header-content {
			display: flex;
			flex-direction: column;

			width: 80%;
			margin: 20px auto 0;
			padding: 5px;
			font-size: 1.6rem;
			color: #fff;

			.logo-img {
				flex-grow: 1;
				max-width: 250px;
				max-height: 250px;
				margin: 0 auto;
				border-radius: 10px;
			}

			.message-container {
				flex-grow: 2;
				display: flex;
				margin-top: 20px;

				.message {
					align-self: center;
					max-width: 400px;
					margin: 0 auto;
					text-align: center;
				}
			}
			
		}

		.subscribe-button {
			display: block;
			width: 250px;
			margin: 10px auto 0;
			font-size: 1.6rem;
			border-radius: 5px;
		}

		.icon-container {
			background: #fff;
		}

	}

	.body {

		.information-panel {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-auto-rows: minmax(215px, auto);
			grid-gap: 10px;
			justify-content: space-evenly;
	
			margin-top: 20px;
	
			.info-box {
				position: relative;
				text-align: center;
				font-size: 1.6rem;
				border-radius: 5px;
				border: solid 2px #009900;
				
				img {
					height: 70px;
					margin: 20px 0;
				}

				h3 {
					font-size: 1.6rem;
					font-weight: bold;
				}
	
				p {
					max-width: 80%;
					margin: 0 auto;
				}
				
				.btn {
					display: block;
					position: absolute;
					left: 25%;
					right: 25%;
					bottom: 20px;
					font-size: 1.6rem;
				}

			}

		}

		hr {
			margin-top: 30px;
			margin-bottom: 20px;
			border-bottom: @border-2;
		}

		.subscription-panel {
			margin-top: 20px;
			text-align: center;
			font-size: 1.6rem;

			h2 {
				font-weight: bold;
			}

			.beam-bridge-form {
				margin-top: 40px;

				.input-group-text, input {
					font-size: 1.6rem;
					height: 3rem;
				}

				.input-group {
					width: 90%;
					margin: 20px auto 0;
				}

				button {
					width: 200px;
					margin-top: 20px;
					font-size: inherit;
				}
			}

		}

	}

	.footer {
		margin-top: 40px;
		text-align: center;
		font-size: 1.6rem;

		h2 {
			font-weight: bold;
		}

		.link-list {
			margin-top: 20px;
			padding: 0;
			list-style-type: none;
		}
	}

}

.sm-hidden {
	display: none;
}

@import 'desktop.less';